.c-footer {
  animation: headerintro .9s;
  animation-delay: .5s;
  animation-fill-mode: backwards;

  &__text {
    font-size: 1.2rem;
    margin: 1.2em 0;
    font-family: 'Playfair Display', sans-serif;

  }

  @media screen and (min-width:20rem) {
    &__text {
      @include lock(1.2, 1.5, 20, 70);
    }
  }

  @media screen and (min-width:70rem) {
    &__text {
      font-size: 1.5rem;
    }
  }
}