.c-miniatures {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0;
  // min-height: 50vh;
  flex-grow: 1;

  &__miniature {
    width: 100%;
    max-width: 35rem;
    background-color: #dadada;
    background-image: url('../images/flower.jpg');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }

  &__link {
    min-height: 2rem;
    display: block;
    text-decoration: none;
    color: #dadada;
    background-color: black;
    opacity: 0;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link:focus,
  &__link:active {
    outline: 10px dotted #fff;
    opacity: 1;
  }

  &__link:hover {
    opacity: 1;
  }

  @media screen and (min-height:35.5rem) {
    &__link {
      min-height: calc(2rem + 2 * (100vh - 35.5rem) / (49.875));
    }
  }

  @media screen and (min-height:85.375rem) {
    &__link {
      min-height: 4rem;
    }
  }

  @media screen and (min-width:70rem),
  screen and (orientation:landscape) {
    & {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
    }

    &__miniature {
      flex-basis: 15%;
    }

    &__link {
      height: 100%;
    }
  }
}

// A jakby zastosować CSS lock do wysokości przycisków?