.c-miniatures {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0;
  flex-grow: 1;
  min-height: 14rem;
  max-height: 50rem;

  &__miniature {
    width: 100%;
    max-width: 35rem;
    background-color: #dadada;
    background-image: url('../images/flower.jpg');
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }

  &__link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #dadada;
    background-color: black;
    opacity: 0;
    transition: .2s;
    font-size: 1.2rem;
  }

  &__link:focus,
  &__link:active {
    outline: 10px dotted #fff;
    opacity: 1;
  }

  &__link:hover {
    opacity: 1;
  }

  @media screen and (min-width:20rem) {
    &__link {
      @include lock(1.2, 2, 20, 70);
    }
  }

  @media screen and (min-width:70rem) {
    &__link {
      font-size: 2rem;
    }
  }

  @media screen and (orientation:landscape) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-around;
      align-items: stretch;
    }

    &__miniature {
      flex-basis: 45%;
    }

    &__link {
      height: 100%;
    }
  }
}