.c-relic {
  border-bottom: 3px solid #fff;

  &:last-child {
    border-bottom: none;
  }

  &--js {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 100%;
    transform: translateY(-50%);
  }

  &__name {
    font-size: 1.4rem;
  }

  &__description {
    font-size: 1.2rem;
    text-align: justify;
  }

  @media screen and (min-width:20rem) {
    &__name {
      @include lock(1.4, 1.6, 20, 70);
    }

    &__description {
      @include lock(1.2, 1.3, 20, 70);
    }
  }

  @media screen and (min-width:70rem) {
    &__name {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.3rem;

    }
  }
}